<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="width: 360px; height: 640px; position: relative; background: black">
      <img style="width: 354px; height: 354px; left: 3px; top: 41px; position: absolute" src="https://i.ibb.co/FH1gCQr/image.png" />
      <div style="width: 234px; height: 130px; left: 63px; top: 370px; position: absolute; text-align: center; color: white; font-size: 96px; font-family: Poppins; font-weight: 700; word-wrap: break-word">404</div>
      <div style="width: 302px; height: 60px; left: 29px; top: 503px; position: absolute; text-align: center; color: white; font-size: 24px; font-family: Poppins; font-weight: 500; word-wrap: break-word">This is not the Webpage Your looking for</div>
    </div>
</body>
</html>