/* Add your styles for AuthManager here */
.auth-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .auth-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .auth-button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-button:hover {
    background-color: #0056b3;
  }
  