/* GymDumbbells.css */

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 200px; /* Set the width as needed */
}

.imageWrapper {
  overflow: hidden; /* Change to hidden to clip the rounded corners */
  position: relative;
  width: 100%; /* Set the width to 100% */
  aspect-ratio: 1.3177966101694916;
  padding: 12px 20px 50px;
  padding-bottom: 0px;
  border-radius: 15px 15px 0 0; /* Add border-radius for rounded corners */
}

.mainImage {
  width: 100%; /* Set the width to 100% */
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px 15px 0 0; /* Match the border-radius from .imageWrapper */
}

.secondaryImage {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 40px;
  margin-top: -30px; /* Adjust as needed */
}

@media (max-width: 991px) {
  .secondaryImage {
    margin-bottom: 40px;
  }
}

.productDetails {
  border-radius: 0px 0px 15px 15px;
  background-color: var(--white, #fff);
  display: flex;
  flex-direction: column; /* Change to column to stack text vertically */
  align-items: center;
  gap: 20px;
  padding: 8px 12px 8px 9px;
}

.title {
  color: var(--black, #000);
  font: 600 15px/22.5px David, -apple-system, Roboto, Helvetica, sans-serif;
}

/* Update the color for white background */
.productDetails,
.secondaryImage,
.imageWrapper {
  color: var(--black, #000);
}

/* ... (Continue with other styles) */
