.container {
  width: 360px;
  height: 640px;
  position: 'relative';
}

.background-image {
  width: 360px;
  height: 641px;
  left: 0;
  top: 0;
  position: absolute;
  box-shadow: 1000px 10px 100px rgba(0, 0, 0, 0.25) inset;
  border: 0.50px #352D2D solid;
}

.overlay-image {
  width: 360px;
  height: 454px;
  left: 0;
  top: 187px;
  position: absolute;
}

.top-left-images {
  width: 227.81px;
  height: 116.34px;
  left: 0;
  top: 0;
  position: absolute;
}

.centered-image {
  width: 300px;
  height: 130.55px;
  left: 60px;
  top: 51.04px;
  position: absolute;
}

.button-container {
  width: 262px;
  height: 63px;
  left: 49px;
  top: 549px;
  position: absolute;
}

.button {
  width: 262px;
  height: 63px;
  left: 0;
  top: 0;
  position: absolute;
  background: #00A3FF;
  box-shadow: 0px -50px 36px -28px rgba(255, 255, 255, 0.35) inset;
  border-radius: 15px;
  border-left: 1px #00517F solid;
  border-bottom: 2.50px #00517F solid;
}

.circle {
  width: 11.96px;
  height: 6.70px;
  left: 227.55px;
  top: 14.13px;
  position: absolute;
  background: white;
  border-radius: 9999px;
}

.button-text {
  width: 155px;
  height: 32px;
  left: 79px;
  top: 5px;
  position: absolute;
  color: black;
  font-size: 35px;
  font-family: 'Roboto Slab';
  font-weight: 500;
  word-wrap: break-word;
}

.h1, .hd1{
  color:rgba(136,164,189,255);
  font-family: 'REM', sans-serif;
 
}
.h1{
  margin-left: 40px;
  margin-top: 40px;

}
.hd1{
  margin-left: 180px;
}
/* Add this to your CSS */
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.h1 {
  color: rgba(136,164,189,255);
  font-family: 'REM', sans-serif;
  margin-left: 40px;
  margin-top: 40px;
  animation: slideFromLeft 1s ease-out forwards; /* 1s means it takes 1 second for the animation. */
}
/* הוסף את זה ל-CSS שלך */
@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.hd1 {
  color: rgba(136,164,189,255);
  font-family: 'REM', sans-serif;
  margin-left: 180px;
  animation: slideFromRight 1s ease-out forwards; /* 1s הוא הזמן של האנימציה - שנייה אחת. */
}